<footer class="site-footer">
    <div class="container">
        <div class="copyright">
            <p>Copyright © <%= new Date().getFullYear() %> <%= theme.footer.copyright %></p>
            <p><%= theme.footer.powered_by %></p>
        </div>
    </div>
</footer> 